
header {
  background-color: var(--bg-body);
  padding: 20px;
  text-align: center;
  color: var(--color-white-smoke);
  box-shadow: var(--inset-shadow-2);
}

header h1 {
  color: var(--color-1);
  font-size: 2em;
  margin-bottom: 0.5em;
}

nav a {
  color: var(--color-2);
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
}

nav a:hover {
  color: var(--color-1);
}

nav a:active {
  color: var(--color-3);
}

.formovies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  color: var(--color-3);
}